{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>tigerpins</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems, {});
  });
  </script>
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">

        <!-- Normal Nav Bar -->
        <ul class="left">
          <li><a href="/" id="home_btn">Tiger Pins</a></li>
        </ul>
        <ul class="right hide-on-small-only">
            {% if user.is_authenticated %}
            <li><a href="{% url 'create' %}">Add Pin</a></li>
              <li><a href="{% url 'index' %}">My Pins</a></li>
              <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
              <li><a href="{% url 'signup' %}">Sign Up</a></li>
              <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}        
        </ul>

         <!-- Dropdown Trigger -->
        <ul class="right hide-on-med-and-up ">
          <li><a href="#" class="dropdown-trigger" data-target="dropdown1"><i class="material-icons">dehaze</i></a></li>
          <!-- <a class='dropdown-trigger right hide-on-med-and-up' href='#' data-target='dropdown1' id="hamburger"><i class="material-icons">dehaze</i></a> -->
        </ul>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
          {% if user.is_authenticated %}
                  <li><a href="{% url 'create' %}">Add Pin</a></li>
                    <li><a href="{% url 'index' %}">Browse Pins</a></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                  {% else %}
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Log Out</a></li>
                  {% endif %}   
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved, <a href='../hidden'>&copy;</a> 2021 tigerpins &nbsp;</div>
  </footer>
</body>
</html>
