{% extends 'base.html' %} {% block content %}

<script defer>
  //getting the data and converting it to correct datatype
  const array = {{locations | safe}};
  //const array = JSON.parse(myData);
  const userid = "{{userid}}"
</script>
<script src="static/javascript/map_style_world.js"></script>


<div id="map"></div>
<h3 class="main_slogan">Pin Your World With Us! </h3>

<script
  src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&libraries=&v=weekly"

></script>

<a class="waves-effect btn-large" href="{% url 'create' %}">Start Pinning!</a>

{% endblock %}
