* {
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
  padding: 0px;
  color: #2E1503;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: Tan;
    text-align: center;
}

main {
  flex: 1 0 auto;
}

a, label, input {
  color: #2E1503;
  font-family: 'Courier New', Courier, monospace;
}

.btn, .btn-small, .waves-button-input, .brown.lighten-2, button {
  background-color: #2E1503 !important;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

input {
  border-bottom: 1px solid #2E1503;
  box-shadow: 1px solid #2E1503;
}

input:focus {
  border-bottom: 1px solid #2E1503 !important;
  box-shadow: 0 1px 0 0 #2E1503 !important;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.card {
  height: 16em;
  overflow: hidden;
  word-wrap: break-word;
}
.pin-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  border-radius: 25px;
}

.trip-header {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

tr {
  font-size: 20px;
  border: 0px;
}

.nav-wrapper, .page-footer {
  background-color: Tan;
}

.nav-wrapper ul a {
  color: #2E1503;
}

.nav-wrapper .left a{
  font-size: 40px;
}

.page-footer {
  padding-top: 0;
  text-align: right;
  color: #2E1503;
}

.trip-details {
  background-color: beige;
  border-radius: 25px;
  padding: 10px;
}

/* Set the size of the div element that contains the map */
#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;    /* The width is the width of the web page */
}