* {
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
  padding: 0px;
  color: #2E1503;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: Tan;
    text-align: center;
}

main {
  flex: 1 0 auto;
}

a, label, input {
  color: #2E1503;
  font-family: 'Courier New', Courier, monospace;
  /* font-size: 20px; */
}

p {
  margin-bottom: 40px;  
}

.btn, .btn-small, .btn-large, .waves-button-input, .brown.lighten-2 {
  margin-bottom: 70px;
  background-color: #2E1503 !important;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

.gm-control-active, .gm-fullscreen-control, .gm-svpc {
  background-color: Tan !important;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

input {
  border-bottom: 1px solid #2E1503;
  box-shadow: 1px solid #2E1503;
}

input:focus {
  border-bottom: 1px solid #2E1503 !important;
  box-shadow: 0 1px 0 0 #2E1503 !important;
}

/* Home Page */

#map {
  margin-top: 70px;
  margin-bottom: 70px;
  height: 400px;  
  width: 100%;  
}

.main_slogan{
  margin-top: 70px;
  margin-bottom: 70px;
}
.index_slogan{
  margin-bottom: 10px;
}
.page-footer {
  margin-top: 70px;
  padding-top: 0;
  text-align: right;
  font-size: 15px;
  color: #2E1503;
}

.btn-large {
  font-size: 20px;
}

/* Nav Bar  */
.nav-wrapper, .page-footer {
  background-color: Tan;
}

.nav-wrapper ul a {
  color: #2E1503;
}

.nav-wrapper .left a{
  font-size: 40px;
}
.nav-wrapper .right a{
  font-size: 18px;
}


/* Index Page */

.sort-buttons {
/* text-align: right; */
margin-bottom: 25px;

}
.card {
  height: 16em;
  /* overflow: hidden; */
  word-wrap: break-word;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.pin-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-action {
  border-radius: 25px !important;
}

.card-action a{
  font-size: 20px;
  margin-right: 0px;
  margin-left: 22px;
  text-align: center;
}

.card-content {
  font: 12px;
  overflow: hidden;
}

.trip-header {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

tr {
  font-size: 20px;
  border: 0px;
}

th {
  font-size: 40px;
  border: 0px;
}


/* Show Page */
.trip-details {
  background-color: beige;
  border-radius: 25px;
  padding: 10px;
}


/* Add Pin  */
.container {
  font-weight: bold;
}
.form_wrapper {
  height: 100%;
  background-color: #b4a284;
  margin: 100px auto;
  padding-bottom: 40px;
}
.form_container {
  width: 80%;
  height: 100%;
  background-color: #f6ead4;
  border-radius: 25px;
  padding: 10px;
  font-size: 50px;
  font-weight: bold;
  margin: auto;
}


.create_slogan{
 padding-top: 35px;
  margin-bottom: 70px;
}


.datepicker-day-button, .datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
  color: white;
}
/* 
.month-prev, .month-next {
  background-color: Tan !important;
} */

.datepicker-date-display, .datepicker-calendar-container {
  background-color: Tan;
}

.datepicker-date-display .year-text, .datepicker-table abbr {
  color: #2E1503;
}

/* sign up page */

.signup_form_container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  background-color: #f6ead4;
  border-radius: 25px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  margin: auto;
}

.signup_form_container label {
  font-size: 20px;
  color: #2E1503;
}

.signup_form_container li, .helptext {
  font-size: 13px;
  color: grey
}

#signup_btn, #login-btn{
  width: 50%;
  text-align: center;
  margin: 20px auto;
}
/* text over flows in mobile view */

/* login */
#id_password, #id_username  {
  text-align: center;
  margin: 20px auto;
}