{% extends 'base.html' %} 
{% block content %}

<div class="signup_wrapper">
  <h3 class="create_slogan">Let your adventer begin!</h3>
  {% if error_message %}
  <p class="red-text">{{ error_message }}</p>
  {% endif %}

  <!-- Add the login form -->
  <form class="signup_form_container" method="post" action="{% url 'signup' %}">
    {% csrf_token %} {{ form.as_p }}
    <button class="btn-small" id="signup_btn" name="signup" type="submit" value="Sign Up">Sign Up</button>
    <!-- <input type="submit" class="btn-small signup_btn" value="signup" /> -->
  </form>
  {% endblock %}
</div>
