{% extends 'base.html' %} {% block content %}


<div class="form_wrapper">
  <h3 class="create_slogan"> A Pin for Every Memory.</h3>
<form class="form_container" action="" method="post">
  {% csrf_token %}
  <table >
    {{ form.as_table }}
  </table>
  <input
    type="submit"
    value="Submit"
    class="btn-small"
  />
</form>
</div>


<script>
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>

{% endblock %}
