{% extends 'base.html' %} {% block content %}

<script>
  //getting the data and converting it to correct datatype
  var array = {{locations | safe}};
  //var array = JSON.parse(myData);
  const userid = "{{userid}}"
</script>
<script src="../static/javascript/map_style_world.js"></script>

<div class="index_page">
  <h3 class="main_slogan">Welcome Back {{ user }}!</h3>
  <div id="map"></div>

  <div class="sort-buttons">
    <h5 class="index_logan">Sort by:</h5>
    <form action="/pins/" method="POST">
      {% csrf_token %}
      <button class="btn-small" name="sortby" value="date">Date</button>
      <button class="btn-small" name="sortby" value="name">Name</button>
    </form>
  </div>

  <div class="row">
    {% for pin in pins %}
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-content">
          <div>
            <span class="card-title">
              <h5><b>{{ pin.name.upper }}</b></h5>
            </span>
            <p>{{ pin.address.upper }}</p>
            <p>{{ pin.date }}</p>
            <p>{{ pin.rating }} / 5</p>
          </div>
          
        </div>
        <div class="card-action">
          <a href="{% url 'show' pin.id %}"> detail </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


<script
  src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&libraries=&v=weekly"
></script>
{% endblock %}
