{% extends 'base.html' %} {% block content %}

<script>
  //getting the data and converting it to correct datatype
  var myData = "{{locations}}";
  var array = JSON.parse(myData);
</script>

<script defer src="../static/javascript/map_style_world.js"></script>

<br /><br /><br /><br /><br />
<h4>welcome back {{ user }}!</h4>
<br />
<div id="map"></div>
<br /><br />
<div class="sort-buttons">
  <p>sort by:</p>
  <form action="/pins/" method="POST">
    {% csrf_token %}
    <button
      class="waves-effect brown lighten-2 btn-small"
      name="sortby"
      value="date"
    >
      [Date]
    </button>
    <button
      class="waves-effect brown lighten-2 btn-small"
      name="sortby"
      value="name"
    >
      [Name]
    </button>
  </form>
</div>
<br /><br />
<div class="row">
  {% for pin in pins %}
  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-content">
        <a href="{% url 'show' pin.id %}">
          <span class="card-title">
            <h5><b>{{ pin.name.upper }}</b></h5>
            <p>{{ pin.address.upper }}</p>
            <p>{{ pin.date }}</p>
            <p>{{ pin.rating }} / 5</p>
          </span>
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<script
  src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&libraries=&v=weekly"
  async
></script>
{% endblock %}
